body {
    font-family: 'Manrope', sans-serif;
    background: #f7e8ec;
    color: black;
    margin: 0;
}
 /*HEADER*/
header {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    position: sticky;
    top: 0;
    left: 0;
    padding-bottom: 5px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 25px;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: 200ms;
    /*aussi juste -> transition: transform 200ms; */
    &:hover { /*pour mettre une pseudo-classe à cet élément et facilité la lecture du code*/
        transform: scale(1.05);
    }
    &:active {
        transform: scale(1);
    }
}


.accueil header {
    background: linear-gradient(#775760, #f7e8ec);
}

.accueil header a {
    text-shadow: 3px 3px 5px #944456;
    border: 2px solid #e799ac;
    background: #e799ac;
}

.todo {
    background: #fbe6a1;
}
.todo header {
    background: linear-gradient(#948246, #fbe6a1);
}

.todo header a {
    text-shadow: 3px 3px 5px #92763e;
    border: 2px solid #e7af6c;
    background: #e7af6c;
}

.frigo {
    background: #becfea;
}

.frigo header {
    background: linear-gradient(#475e83, #becfea);
}

.frigo header a {
    text-shadow: 3px 3px 5px #455175;
    border: 2px solid #a0accf;
    background: #a0accf;
}

.sport {
    background: #c4edee;
}

.sport header {
    background: linear-gradient(#508e8f, #c4edee);
}

.sport header a {
    text-shadow: 3px 3px 5px #508e8f;
    border: 2px solid #82c8ca;
    background: #82c8ca;
}

/*MAIN*/
main {
    margin: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 3px 3px 5px #5e5d80;
    padding: 25px;
}

img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black; 
    font-size: 1.2em;
}

.RappelInscription {
    display: flex;
    flex-wrap: wrap;
    position:fixed;
    top: 95px;
    left: 875px;
    height:fit-content;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 15%;
}

/*FRIGO*/

.frigo_ou_courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 100px;
    gap: 10px;
    margin-top: 5%;
}

.frigoplacard {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
}

.envies {
    grid-column: 1;
    grid-row: 2;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
}

.courses {
    grid-column: 2;
    grid-row: 1/3;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
}

/*PLANNING REPAS*/

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: white;
    border-color: black;
}

td, th {
    border: 1px solid #81c4ee;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    
}

caption {
    padding-top: 30px;
    padding-bottom: 10px;
}

/*PROFIL*/

.form {
    & input {
        background-color: #E8F0FE;
        border: 2px solid #E8F0FE;
        border-radius: 100rem;
        outline: none;
        padding: .5rem 1.5rem;
        width: 40%;
        transition: border 300ms;
        &:focus {
            border: 2px solid rgb(114, 130, 197);
        }
        &:not(:focus):invalid {
            border: 3px solid rgb(255, 0, 0, 0.7);
        }
    }
}

/*FOOTER*/

@counter-style contacts {
    system: fixed;
    symbols: ✉ ☎;
    suffix: "  ";
}

.contacts {
    list-style: contacts;
}

textarea {
    margin: 15px;
    width: 500px;
    height: 100px;
}